/* admin/{resource} pages*/
.admin {
    .navbar {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 998;
    }
    > .container-fluid {
        padding: 0;
        margin-top: 65px;
    }

    .navbar-brand {
        margin-left: -85px;
    }

    /*----------------page-wrapper----------------*/
    .page-wrapper {
        height: 100vh;
        .theme {
            width: 40px;
            height: 40px;
            display: inline-block;
            border-radius: 4px;
            margin: 2px;
            &.chiller-theme {
                background: #1e2229;
            }
        }
        /*--------------------------page-content-----------------------------*/
        .page-content {
            display: inline-block;
            width: 100%;
            padding-left: 0px;
            overflow-x: hidden;
            > div.container-fluid {
                padding: 20px 40px;
            }
        }
    }

    .page-wrapper .sidebar-wrapper,
    .sidebar-wrapper .sidebar-brand > a,
    .sidebar-wrapper .sidebar-dropdown > a:after,
    .sidebar-wrapper
        .sidebar-menu
        .sidebar-dropdown
        .sidebar-submenu
        li
        a:before,
    .sidebar-wrapper ul li a i,
    .page-wrapper .page-content,
    .sidebar-wrapper .sidebar-search input.search-menu,
    .sidebar-wrapper .sidebar-search .input-group-text,
    .sidebar-wrapper .sidebar-menu ul li a,
    #show-sidebar,
    #close-sidebar {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

/* About Us Page */
.about {
    #product-search-nav {
        display: none;
    }

    div#main.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    .page-wrapper {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -50px;

        &:after {
            content: "";
            display: block;
            height: 50px;
        }

        /* ====== Header ====== */
        .about-header {
            background: #252525;
            color: rgba(255, 255, 255, 0.85);
            padding: 30px 0;

            a {
                color: #fff;
            }
            .container {
                position: relative;
                .tagline {
                    font-weight: 600;
                    font-size: 20px;
                    p {
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .fa-heart {
                        color: #ea5395;
                    }
                }
                .main-search-box {
                    @media (max-width: 575.98px) {
                        width: 100%;
                        .search-form {
                            .search-input {
                                width: 100%;
                            }
                        }
                    }
                    @media (min-width: 576px) {
                        .search-form {
                            .search-input {
                                width: 400px;
                            }
                        }
                    }
                    @media (min-width: 768px) {
                        .search-form {
                            .search-input {
                                width: 560px;
                            }
                        }
                    }

                    .search-form {
                        position: relative;
                        .search-input {
                            font-size: 14px;
                            -webkit-border-radius: 20px;
                            -moz-border-radius: 20px;
                            -ms-border-radius: 20px;
                            -o-border-radius: 20px;
                            border-radius: 20px;
                            -moz-background-clip: padding;
                            -webkit-background-clip: padding-box;
                            background-clip: padding-box;
                            padding-top: 4px;
                            &:focus {
                                border-color: #616670;
                            }
                        }
                        .search-btn {
                            color: #797f8b;
                            background: none;
                            border: none;
                            position: absolute;
                            right: 5px;
                            top: -2px;
                            margin-right: 0;
                            height: 40px;
                            .svg-inline--fa {
                                top: 0;
                                margin-right: 0;
                            }

                            &:active,
                            &:focus,
                            &:hover {
                                outline: none !important;
                                color: #31343a;
                            }
                        }
                    }
                }

                .branding {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    .logo {
                        font-size: 28px;
                        margin-top: 0;
                        margin-bottom: 0;
                        a {
                            text-decoration: none;
                        }
                        .text-highlight {
                            color: #ea5395;
                        }
                    }
                    .text-highlight {
                        color: #bb2774;
                    }
                    .text-bold {
                        font-weight: 800;
                        color: #fff;
                    }
                    .icon {
                        font-size: 24px;
                        color: #bb2774;
                    }
                }
            }
        }
        a {
            color: #bb2774;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            &:hover {
                text-decoration: underline;
                color: #bb2774;
            }
            &:focus {
                text-decoration: none;
            }
        }
        p {
            line-height: 1.5;
        }
        .footer {
            height: 50px;
        }

        .btn-primary,
        a.btn-primary {
            background: #df308b;
            border: 1px solid #bb2774;
            color: #fff !important;
        }

        .btn,
        a.btn {
            .svg-inline--fa {
                margin-right: 5px;
                position: relative;
                top: -1px;
            }
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.5;

            .btn-primary:hover,
            .btn-primary:focus,
            .btn-primary:active,
            .btn-primary.active,
            .btn-primary.hover,
            a.btn-primary:hover,
            a.btn-primary:focus,
            a.btn-primary:active,
            a.btn-primary.active,
            a.btn-primary.hover {
                background: #df308b;
                color: #fff !important;
                border: 1px solid #bb2774;
            }
        }

        /* ====== card ====== */
        .cards-section {
            padding: 60px 0;
            background: #f9f9fb;
            .title {
                margin-top: 0;
                margin-bottom: 15px;
                font-size: 24px;
                font-weight: 600;
            }
            .intro {
                margin: 0 auto;
                max-width: 800px;
                margin-bottom: 60px;
                color: #616670;
            }
            .cards-wrapper {
                max-width: 860px;
                margin-left: auto;
                margin-right: auto;
            }
            .item {
                margin-bottom: 30px;
                .icon-holder {
                    margin-bottom: 15px;
                }
                .icon {
                    font-size: 36px;
                }
                .title {
                    font-size: 16px;
                    font-weight: 600;
                }
                .intro {
                    margin-bottom: 15px;
                }
            }
            .item-inner {
                padding: 45px 30px;
                background: #fff;
                position: relative;
                border: 1px solid #f0f0f0;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                height: 100%;

                @media (max-width: 767.98px) {
                    padding: 30px 15px;
                }
                .link {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    /* for IE8 */
                }

                &:hover {
                    background: #f5f5f5;
                }
            }
            .item-pink {
                .item-inner {
                    border-top: 3px solid #ea5395;
                    &:hover {
                        .title {
                            color: #d61a6c;
                        }
                    }
                }
                .icon {
                    color: #ea5395;
                }
            }
        }
    }
}

.contact {
    #product-search-nav {
        display: none;
    }

    div#main.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .page-wrapper {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -50px;

        &:after {
            content: "";
            display: block;
            height: 50px;
        }

        /* ====== Header ====== */
        .contact-header {
            background: #252525;
            color: rgba(255, 255, 255, 0.85);
            padding: 30px 0;

            a {
                color: #fff;
            }
            .container {
                position: relative;
                .tagline {
                    font-weight: 600;
                    font-size: 15px;
                    p {
                        margin-bottom: 5px;
                    }
                }
                .branding {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    .logo {
                        font-size: 34px;
                        margin-top: 0;
                        margin-bottom: 0;

                        &:first-child span {
                            padding-right: 5px;
                        }
                        a {
                            text-decoration: none;
                        }
                        .text-highlight {
                            color: #ea5395;
                        }
                    }
                    .text-highlight {
                        color: #bb2774;
                    }
                    .text-bold {
                        font-weight: 800;
                        color: #fff;
                    }
                    .icon {
                        font-size: 24px;
                        color: #bb2774;
                    }
                }
            }
        }

        .content {
            padding-top: 70px;
            padding-bottom: 70px;

            .our-team {
                ul {
                    li {
                        padding-bottom: 20px;
                    }
                    list-style: none;
                    .fas.fa {
                        &-cat,
                        &-crow,
                        &-dog,
                        &-dove,
                        &-dragon {
                            border-radius: 50%;
                            background-color: #df308b;
                            color: white;
                            font-size: 35px;
                            padding: 15px;
                        }
                    }
                    .dev-team-mem {
                        display: inline-block;
                        margin-left: 15px;
                    }
                }
            }

            input.btn.btn-primary {
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.5;

                background: #df308b;
                border: 1px solid #bb2774;
                color: #fff !important;

                &:hover,
                &:focus,
                &:active,
                &.active,
                &.hover {
                    background: #df308b;
                    color: #fff !important;
                    border: 1px solid #bb2774;
                }
            }
        }
    }
}

#app.cart div#main,
.thankyou div#main {
    height: 100vh;
    margin-bottom: -40px;
}
