div#app:not(.admin) {
    nav.navbar {
        &.stickyNav {
            position: fixed;
            width: 100%;
            top: 0;
            margin-bottom: 156px;
        }
        background-color: #df308b;
        .navbar-collapse {
            a {
                color: #fff;
                &:hover {
                    color: #d4d4d4;
                }
                &.dropdown-item {
                    &:hover,
                    &:focus {
                        background-color: #b72973;
                    }
                }
            }
            .dropdown-menu.show {
                background-color: #df308b;
            }
        }
        .btn {
            color: #fff;
            background-color: transparent;
            background-image: none;
            border-color: #fff;
        }
    }
}
